<%- layout("/layouts/basic.ejs") %>

<div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
    <div class="error-info">
        <i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<%= statusCode %>!!!&nbsp;&nbsp; <%= message %>
    </div>
  </div>