<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <form action="/users/<%= user.id %>/delete?_method=DELETE " method="post">
        <h2>Your User Id Is :-> <%=user.username %></h2><br><br>
        <input type="text" name="email" placeholder="Enter Your Email"><br><br>
        <input type="password" name="password" placeholder="Enter Your Password">
        <button type="submit">Delete User</button>
    </form>
</body>
</html>