<footer>
    <div class="f-info">
        
        
        <div class="f-info-links">
            <div>© 2024 Airbnb, Inc. &nbsp; &#9679;&nbsp; 
                <a href="/privacy">Privacy </a>&nbsp; &#9679;  &nbsp;
            <a href="/terms">Terms  </a>&nbsp;&#9679; &nbsp;
            <a href="/sitmap">Sitemap </a>&nbsp; &#9679; &nbsp;
            <a href="/company_details">Company details</a>
            </div>
            
        </div>
            <div class="f-settings">
                <div class="f-info-icon">
                    <a href="/language"><i class="fa-solid fa-globe">  <span > &nbsp;  English (IN)</span> </i></a>
                <a href="/curancy"><i class="fa-solid fa-indian-rupee-sign"> <span>&nbsp; INR</span> </i></a>
                </div>
                
                <div class="f-info-socials">
                    <a href="#"><i class="fa-brands fa-facebook"></i></a>
                    <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="#"><i class="fa-brands fa-square-x-twitter"></i></a>
                    <a href="#"><i class="fa-brands fa-youtube"></i></a>
                </div>
            </div>
            
        
    </div>
</footer>